@import url('https://fonts.googleapis.com/css2?family=Linden+Hill&family=Merriweather:wght@300;400&display=swap');
body {
	font-size: 16px;

}
header,
footer {
	background-color: #daa46d;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}
img{
	filter: brightness(1.1);
	mix-blend-mode: multiply;
}
header,
nav,
main,
footer {
	max-width: 767px;
	margin: 0 auto;
	font-family: 'Merriweather', serif;
}

h1 {
	font-size: 1.1rem;
	font-family: 'Merriweather', serif;
}
h2 {
	color: #536878;
	font-family: 'Merriweather', serif;
	margin-left: 30px;
}
p{
	font-family: 'Linden Hill', serif;
	font-size: 20px;
	max-width: 250px;
	text-align: justify;
	margin-left: 60px;

}
table{
	margin-left: 40px;
	margin-bottom: 20px;
	max-width: 250px;
}

#first{
	background-color: #9c4f20;
	text-align: center;
	border: 0.5px solid black;
}
#second{
	background-color: #fbe1b6;
	text-align: center;
	border: 0.5px solid black;
}
#third{
	background-color: #daa46d;
	text-align: center;
	border: 0.5px solid black;
}

nav {
	background-color: #9c4f20;
	text-align: center;
	box-shadow: 0 2px 15px gray;
	align-items: center;
	padding: 10px;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	background: linear-gradient(90deg, transparent,
	#7388a0, transparent) center / var(--d, 0) 20px no-repeat;
  transition: 0.5s;
  border: 0.5px solid #fbe1b6;
}
nav a:hover {
/* 	background-color: #bbb;
	color: #36454f; */
	--d: 75%;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
	background-color: #fbe1b6;
	box-shadow: 0 2px 15px gray;
}

#foot {
	margin: 0;
}